{% extends "base.html" %} 

{% block title %}Hakkımda{% endblock title %} 
{% block content %}
<div class="container-md mt-5 p-4" >
<div class="card text-center mb-3 mt-5 bg-teal shadow">
  <div class="card-body p-5">
    <h2 class="card-title">Merhaba, Ben Ahmet ilboga</h2>
    <p class="card-text fs-5 fw-medium">
      Hakkımda daha detaylı bilgi istiyorsanız aşağıdaki bağlantılarıma göz gezdirebilirsiniz.
    </p>
  </div>
</div>

<div class="row row-cols-1 row-cols-md-2 g-4">
    <div class="col">
        <div class="card h-100 mb-3 bg-gri shadow">
            <div class="row g-0">
              <div class="col-md-4 p-3">
                <img src="/static/logo/my_photo.jpg" class="img-fluid rounded" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Hakkımda</h5>
                  <p class="card-text fw-medium">Merhaba, ben Ahmet İlboga. 19 yaşındayım ve Maü Bilgisayar Programcılığı öğrencisiyim. Yazılımı çok severek yapıyorum ve bu alanda proejler geliştirmek beni çok mutlu ediyor.</p>
                </div>
              </div>
            </div>
          </div>
    </div>
    <div class="col">
        <div class="card h-100 mb-3 shadow bg-teal">
            <div class="row g-0">
              <div class="col-md-4 p-3">
                <img src="/static/logo/github_logo.png" class="img-fluid rounded" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Github</h5>
                  <p class="card-text fw-medium">Dediğim gibi proje geliştirmeyi seviyorum ve geliştirdiğim projelerimi Github hesabımda paylaşıyorum. İsterseniz inceleyebilirsiniz</p>
                  <p><a href="https://github.com/ahmetilboga2004" class="card-link">Github Hesabım</a></p>
                </div>
              </div>
            </div>
          </div>
    </div>
    <div class="col">
        <div class="card h-100 mb-3 bg-gri shadow">
            <div class="row g-0">
              <div class="col-md-4 p-3">
                <img src="/static/logo/discord_logo.png" class="img-fluid rounded" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Discord</h5>
                  <p class="card-text fw-medium">Ayrıca Discord kullanıyorum. Discord yazılımın ve eğlencenin buluştuğu güzel bir platform.</p>
                  <p><a href="discord.com" class="card-link">Nick: @ai2py</a></p>
                </div>
              </div>
            </div>
          </div>
    </div>
    <div class="col">
        <div class="card h-100 mb-3 shadow bg-teal">
            <div class="row g-0">
              <div class="col-md-4 p-3">
                <img src="/static/logo/telegram_logo.png" class="img-fluid rounded" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Telegram</h5>
                  <p class="card-text fw-medium">Birde tabi telelgram var. Burası tecübeli yazılımcıların bulunduğu ve sağlam içeriklerin bulunduğu güzel platform. En çok kullandığım sosyal medya Telegram'dır.</p>
                  <p><a href="https://t.me/ai2py" class="card-link">Telegram profilim</a></p>
                </div>
              </div>
            </div>
          </div>
    </div>
    <div class="col">
        <div class="card h-100 mb-3 bg-gri shadow">
            <div class="row g-0">
              <div class="col-md-4 p-3">
                <img src="/static/logo/github.png" class="img-fluid rounded" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Web Sitem</h5>
                  <p class="card-text fw-medium">O kadar bağlantı bilgilerimi yazdım ancak kişisel web sitemi yazmasam olmazdı :) </p>
                  <p><a href="https://ahmetilboga2004.github.io/" class="card-link">Web Sitem</a></p>
                </div>
              </div>
            </div>
          </div>
    </div>
    <div class="col">
        <div class="card h-100 mb-3 shadow bg-teal">
            <div class="row g-0">
              <div class="col-md-4 p-3">
                <img src="/static/logo/instagram_logo.png" class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Instagram</h5>
                  <p class="card-text fw-medium">Takip etmek istersiniz diye linki bırakıyorum buraya. Pek kullanmam bilginiz olsun.</p>
                  <p><a href="https://www.instagram.com/ahmet_ilboga47/" class="card-link">Instagram Hesabım</a></p>
                </div>
              </div>
            </div>
          </div>
    </div>
  </div>
</div>
{% endblock content %}